In [1]:
bin(1)

'0b1'

In [2]:
def format_binary(x):
    st = str(bin(x))[2:].rjust(8, '0')
    return st[:4] + ' ' + st[:4]

format_binary(1)

'0000 0000'

In [3]:
format_binary(255)

'1111 1111'

In [4]:
import pandas as pd

df = pd.DataFrame(list(range(256)), columns = ['decimal'])
df['binary'] = df['decimal'].apply(lambda x: str(bin(x))[2:].rjust(8, '0')[:4] + ' ' + str(bin(x))[2:].rjust(8, '0')[4:])
df.to_csv('decimal_binary.csv', index=False, header=False)
df.head()

   decimal     binary
0        0  0000 0000
1        1  0000 0001
2        2  0000 0010
3        3  0000 0011
4        4  0000 0100

In [5]:
df.tail()

     decimal     binary
251      251  1111 1011
252      252  1111 1100
253      253  1111 1101
254      254  1111 1110
255      255  1111 1111