In [1]:
!ls

dico.txt			  millenium.csv    prenoms.txt
letters				  millenium.ipynb  sources
liste.de.mots.francais.frgut.txt  pays.txt	   villes.txt

In [2]:
import pandas as pd
import re
import numpy as np

df = pd.read_csv("liste.de.mots.francais.frgut.txt", header = None, names = ['word'])
df.head()

          word
0            a
1            à
2      abaissa
3   abaissable
4  abaissables

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336531 entries, 0 to 336530
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   word    336531 non-null  object
dtypes: object(1)
memory usage: 2.6+ MB

In [4]:
vowel = ['a', 'e', 'i', 'o', 'u', 'y', 'â', 'ä', 'à', 'é', 'è', 'ê', 'ë', 'ï', 'ô', 'û']
zero = ['s', 'z', 'ç', 'ss']
one = ['d', 't']
two, three, four, five = ['n'], ['m'], ['r'], ['l']
six = ['j', 'ch', 'g', 'dj']
seven = ['k', 'x', 'qu', 'gu', 'q', 'ng', 'tch']
eight = ['v', 'f']
ninve = ['b', 'p']

In [5]:
test = 'tamdonk'
#zero = re.compile('(s|z|ç|ss)')
#print(zero.sub('-zero-', test))
p = re.compile('(blue|white|red)')
p.sub('colour', 'blue socks and red shoes')

'colour socks and colour shoes'

In [6]:
def convert_str(st):
    """Convert an input sting to the corresponding number with the previous encoding"""
    
    vowel = re.compile('(a||e|i|o|u|y|â|ä|à|é|è|ê|ë|ï|ô|û)')
    zero = re.compile('(s|z|ç|ss)')
    one = re.compile('(d|t)')
    two = re.compile('(n)')
    three = re.compile('(m)')
    four = re.compile('(r)')
    five = re.compile('(l)')
    six = re.compile('(j|ch|g|dj)')
    seven = re.compile('(k|x|qu|gu|q|ng|tch)')
    eight = re.compile('(v|f)')
    nine = re.compile('(b|p)')
    
    st = vowel.sub('', st)
    st = nine.sub('9', st)
    st = eight.sub('8', st)
    st = seven.sub('7', st)
    st = six.sub('6', st)
    st = five.sub('5', st)
    st = four.sub('4', st)
    st = three.sub('3', st)
    st = two.sub('2', st)
    st = one.sub('1', st)
    st = zero.sub('0', st)
    st.replace('-', '')
    
    try:
        st = int(st)
        st = int(str(st)[:3])
    except:
        st = 0
    if st < 0:
        st = -st
    
    return st

In [7]:
df['nb'] = df['word'].apply(convert_str)
df.head()

          word   nb
0            a    0
1            à    0
2      abaissa  900
3   abaissable  900
4  abaissables  900

In [8]:
df.shape

(336531, 2)

In [9]:
df.isnull().sum()

word    0
nb      0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336531 entries, 0 to 336530
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   word    336531 non-null  object
 1   nb      336531 non-null  int64
dtypes: int64(1), object(1)
memory usage: 5.1+ MB

In [11]:
df = df[df.nb != 0]
df.shape

(235260, 2)

In [12]:
df = df.sort_values(by=['nb'])
df[100:120]

            word  nb
306428      suit   1
8836         ait   1
223720      ôtai   1
223799     ouata   1
223800    ouatai   1
177718      idée   1
177659       ide   1
223814     ouate   1
223815     ouaté   1
223816    ouatée   1
142715        et   1
298207      soit   1
335853     zesta   1
113586        du   1
299685     souda   1
291623   sauçait   1
291632    sauçât   1
20134   assistai   1
5392        aède   1
20155    assiste   1

In [13]:
df.tail()

               word   nb
227171     papables  999
26382       baobabs  999
26381        baobab  999
232908  peppermints  999
232907   peppermint  999

In [14]:
df = df.groupby('nb')['word'].apply(list)
df = pd.DataFrame(df)
#pd.DataFrame(df)
df.head()

                                                 word
nb
1   [étaya, suède, suédé, zieute, zieuté, zieutée,...
2   [ozonée, assainie, ozoné, ozone, assénée, noya...
3   [essaima, essaim, muai, sème, mue, semé, mua, ...
4   [suerai, soyer, air, oser, saisira, suera, rué...
5   [élu, azalée, assolé, élue, assolée, il, ailée...

In [16]:
df.to_csv('millenium.csv', index=True)